.header {
    height: 10vh;
    width: 100%;
    background-color: rgba(79, 109, 122, 0.7);
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;  
}
.navbar-light {
    .navbar-nav{
        .nav-link{
            font-weight: $fina;
            text-align: end;
            color: $blanco;
            font-family: $principal;
            font-size: 1.1em;
        }
        .nav-link.active, .show>.nav-link {
            font-weight: $gruesa;
            color: $blanco;
            font-family: $principal;
            font-size: 1.1em;
        }    
    }
    .navbar-toggler {
        color: $gris;
        font-size: 1.1em;
    }
    .navbar-collapse.show{
        background-color:rgba(79, 109, 122, 0.7);
        padding: 5% 10% 5% 0%;
    }
}
