@import "fonts";
@import "variables";
@import "globales";
@import "header";
@import "main";
@import "footer";
@import "animacion";

@media (max-width: $tablet){
    .contenedor{
        max-width: $tablet;
    }
    .seccion1, .seccion2, .seccionIndex, .seccion3 {
        @include grid (1,2);
    }
    .seccionIndex__ImgIndex {
        grid-row: 1;
        background-size: 60%;   
    }
    .seccionIndex__textoIndex {
        margin-top: 10%;  
    }
    .seccion1__img1 {
        grid-row: 1;
    }
    .seccion2__img2 {
        order: 0;
    }
    .seccion4 {
        @include grid (1,6)   
    }
    h2{
        font-size: 1.1em;  
    }
    .txtVid {
        order: 0;
    }
    .boton {
        margin: 1em 25% 1em 25%;
    }
      
}

@media (max-width: $telefono){
    .seccionIndex {
        &__ImgIndex {
        background-size: 100%;
        }
    }
}      